<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>tiago.machado</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>eeBD7tKRdlB169H/r976ZX/Zn1XhXsvJTib+Gm0yI5Cm5h61xTOtIGxvCU2tBJlq</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1.9.4">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>Tudo</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.5">
      <emailAddress>tiago.machado@hotelurbano.com.br</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>